
<div class="card" style="margin: 3%;">
  <h1>Lista de Alumnos</h1>
  <div style="text-align: end;">
    <button pButton type="button" class="p-button-info" >Nuevo</button>
  </div>
  <p-table #dt1 [value]="trow" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name','country.name','representative.name','status']">
    <ng-template pTemplate="caption">
      <div class="flex">

          <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text"  placeholder="Buscar candidatos" />
          </span>
      </div>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Candidato
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Partido Politico
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Estado
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Observaciones
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Cant. Integrantes
          </div>
        </th>
        <th style="width: 10rem">
          <div class="p-d-flex p-jc-between p-ai-center">
            Acciones
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tr>
      <tr>
        <td>
          {{tr.uname}}
        </td>
        <td>
          <img [alt]="tr.productName" src="assets/images/candidato1.png" width="32" style="vertical-align: middle;" />
          <span class="image-text">{{tr.uname}}</span>
        </td>
        <td>
          <span class="image-text">{{tr.uname}}</span>
        </td>
        <td>

        </td>
        <td>
          <span [class]="'customer-badge status-' + tr.status">{{tr.uname}}</span>
        </td>
        <td class="sizes">
          <button pButton pRipple type="button" icon="pi pi-pencil" styleClass="p-button-sm" class="p-button-rounded p-button-text" ></button>
          <button pButton pRipple type="button" icon="pi pi-eye" styleClass="p-button-sm" class="p-button-rounded p-button-secondary p-button-text"></button>
          <button pButton pRipple type="button" icon="pi pi-trash"styleClass="p-button-sm"  class="p-button-rounded p-button-success p-button-text"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
  </div>

