<div class="card" style="margin: 3%;">
<h1>Lista de Candidatos</h1>
<p>Aqui se muestra toda la lista de los candidatos activos</p>
<!--div>
  <img [src]="foto" alt="">
  drftgyhujftgyhuj
</!--div-->
<div style="text-align: end;">
  <button pButton type="button" class="p-button-info" (click)="openDialog(listaCandidatos, 'Nuevo')">Nuevo</button>
</div>
<p-table #dt1 [value]="listaCandidatos.items" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
	[rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
	[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
	[globalFilterFields]="['name','country.name','representative.name','status']">
  <ng-template pTemplate="caption">
    <div class="flex">

        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text"  placeholder="Buscar candidatos" [(ngModel)]="buscarCandidato" (keyup)="buscarCandidatos($event)"/>
        </span>
    </div>
</ng-template>
	<ng-template pTemplate="header">
		<tr>
      <th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Codigo
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Candidato
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Perfil
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Partido Politico
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Observaciones
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Cant. Regidores
				</div>
			</th>
			<th style="width: 10rem">
				<div class="p-d-flex p-jc-between p-ai-center">
					Acciones
				</div>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-topSelling>
		<tr>
      <td >
				{{topSelling.idCandidato}}
			</td>
			<td>
				{{topSelling.candidato}}
			</td>
			<td>
        <img [alt]="topSelling.image" src="{{topSelling.image}}" width="32" height="32" style="vertical-align: middle;" />&nbsp;

			</td>
			<td>
        <img [alt]="topSelling.image" src="{{topSelling.logo}}" width="32" height="32" style="vertical-align: middle;" />&nbsp;
				<span class="image-text">{{topSelling.partidoPolitico}}</span>
			</td>
			<td>
        {{topSelling.observacion}}
			</td>
			<td>
        <span [class]="'customer-badge status-' + topSelling.status" style="content: center;">{{topSelling.regidor.length}}</span>
			</td>
			<td class="sizes">
        <button pButton pRipple type="button" icon="pi pi-pencil" styleClass="p-button-sm" class="p-button-rounded p-button-text" (click)="openDialog(topSelling,'Editar')"></button>
        <button pButton pRipple type="button" icon="pi pi-eye" styleClass="p-button-sm" class="p-button-rounded p-button-secondary p-button-text" (click)="openDialog(topSelling, 'Ver')"></button>
        <button pButton pRipple type="button" icon="pi pi-trash"styleClass="p-button-sm"  class="p-button-rounded p-button-success p-button-text" (click)="confimacionEliminarDialog(topSelling)"></button>
			</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td colspan="7">No customers found.</td>
		</tr>
	</ng-template>
</p-table>
</div>
<ngx-spinner type = "square-jelly-box" ><p style="color: white" > Loading... </p></ngx-spinner>
<app-modalCandidatos
*ngIf="verModalCandidato"
(showModal)="abrirModalCandidato($event)"
[dataItems]="listaCandidatoEdit">
</app-modalCandidatos>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [baseZIndex]="10000"></p-confirmDialog>
<p-toast></p-toast>
