
<div class="login">
  <form class="custom-form" method="post">

    <h1>Acceso al Sistema</h1>
    <img src="assets/images/onpe.png" alt="25px">
    <input
      type="Text"
      name="email"
      placeholder="usuario"
      required="required"
      autocomplete="off"
      [(ngModel)]="dni"
    />
    <input
      type="password"
      name="password"
      placeholder="Constraseña"
      required="required"
    />
    <button type="submit" (click)="showSuccess()">Ingresar</button>
  </form>
</div>
<p-toast></p-toast>
