<p-dialog
header="Autorizar Evento"
[(visible)]="isVisible"
styleClass="atributos"
[baseZIndex]="10000"
[closable]="false"
[modal]="true"
appendTo="body">
<h1 mat-dialog-title>sss</h1>
<div mat-dialog-content>
  <form class="example-form">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Nombres</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Foto</mat-label>
    <input matInput>
  </mat-form-field >
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Partido Politico</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Logo</mat-label>
    <input matInput>
  </mat-form-field>
</form>
</div>
<div class="example-button-row" style="text-align: end;">
  <button mat-raised-button color="primary">Aceptar</button>
  <button mat-raised-button color="warn" (click)="closeModal()">Cancelar</button>
</div>
</p-dialog>
