<div class="row" style="margin-top: 1.5% ;">
<div class="col-6 col-sm-4"  style="float: right">
  <mat-card style="max-width: 80%; max-height: 90%;">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Santa Rosa</mat-card-title>
      <mat-card-subtitle>Elena Fernanda</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/users/user3.jpg" style="height: 85%; width: 85%; margin-left: 8%;">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <!--mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </!--mat-card-actions-->
  </mat-card>
</div>
<div class="col-6 col-sm-4" >
  <mat-card style="max-width: 100%;">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
