<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="assets/images/onpe.png" style="width: 80%; height: 90%;"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./top-card">
        <mat-icon>dashboard</mat-icon>Principal
      </a>
      <a mat-list-item routerLink="./usuario">
        <mat-icon>face</mat-icon>Usuarios
      </a>
      <a mat-list-item routerLink="./candidatos">
        <mat-icon>perm_identity</mat-icon>Candidatos
      </a>
      <a mat-list-item routerLink="./alumno">
        <mat-icon>supervisor_account</mat-icon>Alumnos
      </a>
      <mat-nav-list >
        <a mat-list-item (click)="toggleMenu2()">
          <mat-icon mat-list-icon >assessment</mat-icon>Reportes
          <mat-icon *ngIf="!showMenu1" style="color:  rgb(5, 0, 0)">chevron_right</mat-icon>
          <mat-icon *ngIf="showMenu1" style="color:  rgb(5, 0, 0);">expand_more</mat-icon>
        </a>
        <mat-nav-list class="sidenav-submenu" *ngIf="showMenu1" style="padding-left: 28px;">
          <a mat-list-item style="color:  rgb(5, 0, 0);" routerLink="./reporte">Ganador</a>
          <a mat-list-item style="color:  rgb(5, 0, 0);" routerLink="./ReporteTotal">Reporte Total</a>
        </mat-nav-list>
      </mat-nav-list>
      <a mat-list-item routerLink="./Acerca">
        <mat-icon>contact_support</mat-icon>Acerca
      </a>
      <a mat-list-item routerLink="./eleccionAlumno">
        <mat-icon>supervisor_account</mat-icon>Elecciones
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sistema Web de Voto Electrónico</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="beforeMenu">Cerrar sesión  </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="cerrarSesion()" ><mat-icon>power_settings_new</mat-icon>Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
