
<div style="margin: 2%">
<p-panel header="Progreso de las Elecciones" styleClass="width:50%">
<div style="display: flex; text-align: center;">
  <div [style]="{'width': '25%', 'margin-bottom': '2em'}">
    <p-card class="" header="Total de Electores" >
      <i class="pi pi-users"></i>

      <label class="label info">6500 Alumnos</label>
  </p-card>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div [style]="{'width': '25%', 'margin-bottom': '2em'}">
    <p-card header="Cantidad Sufragados">
      <i class="pi pi-users"></i>
      <label class="label warning"> 3500 Alumnos</label>
  </p-card>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div [style]="{'width': '25%', 'margin-bottom': '2em'}">
    <p-card header="Cantidad Faltante">
      <i class="pi pi-users"></i>
      <label class="label danger">3000 Alumnos</label>
  </p-card>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div [style]="{'width': '25%', 'margin-bottom': '2em'}">
    <p-card header="Porcentaje"  >
      <i class="pi pi-book"></i>
      <label class="label success">65%</label>
  </p-card>
  </div>
</div>
</p-panel>
</div>
