::ng-deep .p-card .p-card-body {
  padding: 1rem !important;
  background-color: rgb(157, 253, 196) !important;
}

label {
  padding: 8px;
  font-size: 25px;
}

.success {color: #04AA6D;} /* Green */
.info {color: #2196F3;} /* Blue */
.warning {color: #ff9800;} /* Orange */
.danger {color: #f44336;} /* Red */
.other {color: #e7e7e7; color: black;} /* Gray */





